<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_profile.css')}}">
    <link rel="icon" href="static/icon.jpeg" type="image/x-icon">
</head>
<body>
    <a href="/" id="btn">Home</a>
    <div class="heading">
        <h2>Want to work with me?</h2>
        <h4>You may connect with me through my contacts listed!</h4>
    </div>
    <div class="contact-container">
        <div class="contact-box">
            <h1>Contact Information</h1>
            <p><strong>Email:</strong> <a href="mailto:purcia.princessmae296@gmail.com">purcia.princessmae296@gmail.com</a></p>
            <p><strong>Phone:</strong> 09070438969</p>
            <p><strong>Address:</strong> Payatas A., Quezon City, Philippines</p>
            <p><strong>Webmail:</strong> <a href="mailto:princessmaefpurcia@iskolarngbayan.pup.edu.ph">princessmaefpurcia@iskolarngbayan.pup.edu.ph</a></p>
            <p><strong>Facebook:</strong> <a href="https://www.facebook.com/purcia.princessmae">https://www.facebook.com/purcia.princessmae</a></p>
        </div>
    </div>
    <section>
        <img src="{{url_for('static', filename='contact.jpg')}}" alt="background">
    </section>
</body>
</html>
