<!DOCTYPE html>
<html>
<head>
    <title>Works</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_works.css')}}">
    <link rel="icon" href="static/icon.jpeg" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome</h1>
                <p>to my programming works!</p>
                <a href="/" id="btn">Home</a>
            </div>

            <div class="works">
                <ul>
                    <li><a href="/touppercase">Convert to Uppercase</a></li>
                    <li><a href="/areaOfcircle">Area of a Circle</a></li>
                    <li><a href="/areaOftriangle">Area of a Triangle</a></li>
                    <li><a href="/merge_and_sort">Merge and Sort</a></li>
                    <li><a href="/">Soon</a></li>
                    <li><a href="/">Soon</a></li>
                    <li><a href="/">Soon</a></li>
                    <li><a href="/">Soon</a></li>
                    <li><a href="/">Soon</a></li>
                    <li><a href="/">Soon</a></li>
                
                    </div>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>
